  @charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  font-family: arial;
  font-size: 15px;
  line-height: 1.6em;
  background: #f4f4f4;
}

a { 
  display: inline-block;
  color: #000;
  text-decoration: none; 
}

ul { padding: 20px 0; }

li {
  padding: 5px 0;
  list-style-type: none;
}

label {
  padding: 7px 15px;
  color: #4b4b4b;
  font-size: 18px;
  text-transform: capitalize;
}

h1 {
  padding: 30px 0;
  display: inline-block;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
}

form { padding: 22px 16px; }

input[type='submit'] {
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid;
  margin: 20px;
  background-color: #fff;
  color: #4CAF50;
  font-size: 18px;
  text-align: center;
}

input[type='submit']:hover {
  background-color: #4CAF50;
  color: #fff;
  transition: .5s ease-in-out;
}
/*for wrapper*/
.wrapper {
  max-width: 1286px;
  width: 82%;
  margin: 0 auto;
}
/*=================================
  header styling starts here
=================================*/
header { border-bottom: 3px solid #f4f4f4; }
/*=================================
  header styling ends here
=================================*/
/*=================================
  main styling starts here
=================================*/
.login-here,
.register-here {
  width: 30%;
  margin: 0 auto;
  background-color: #4CAF50;
  color: #fff;
  text-align: center;
}

#container {
  margin: 0 auto;
  overflow: auto;
  width: 60%;
}

a.start {
  display: inline-block;
  color: #666;
  border: 1px dotted #4CAF50;
  padding: 6px 13px;
}

.current,
.rankings {
  padding: 10px;
  border: #ccc dotted 1px;
  margin: 20px 0 10px 0;
  background: #4CAF50;
  color: #fff;
}

.rankings:nth-child(even) { background-color: #f2f2f2; }

.rankings {
  margin: 0;
  display: flex;
  justify-content: space-around;
  color: #000;
}

.register,
.login,
.logout,
.leader-board,
.back {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  margin: 20px;
  background-color: #4CAF50;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.register:hover,
.login:hover,
.logout:hover,
.leader-board:hover,
.back:hover,
a.start:hover {
  background-color: #fff;
  color: #4CAF50;
  transition: .5s ease-in-out;
}

.error {
  padding: 0 0 20px;
  display: block;
  color: #FF0000;
}
/*=================================
  main styling ends here
=================================*/
/*=================================
  footer styling starts here
=================================*/
footer {
  border-top: 3px #f4f4f4 solid;
  text-align: center;
  padding-top: 5px;
}
/*=================================
  footer styling ends here
=================================*/